.pulsanteTondo, section.ricerca form #casuale, section.ricerca form #invia {
  background-color: red;
  border: 2px solid blue;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 35px;
  height: 50px;
  margin: 0 5px;
  width: 50px; }
  @media screen and (max-width: 545px) {
    .pulsanteTondo, section.ricerca form #casuale, section.ricerca form #invia {
      font-size: 16px;
      height: 30px;
      width: 30px; } }

body {
  background-color: #e0dada; }

.contenitorePrincipale {
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  min-height: 600px; }

header {
  background: #ccec77;
  text-align: center; }

main {
  background-color: #B2E1F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 5px; }

section.ricerca {
  text-align: center; }
  section.ricerca form {
    align-items: center;
    display: flex;
    flex: 3;
    justify-content: center;
    margin: 50px 20px; }
    section.ricerca form #casuale {
      order: 1; }
    section.ricerca form input[name='ricerca'] {
      font-size: 20px;
      order: 2;
      width: 70%; }
      @media screen and (max-width: 810px) {
        section.ricerca form input[name='ricerca'] {
          width: 50%; } }
      @media screen and (max-width: 545px) {
        section.ricerca form input[name='ricerca'] {
          font-size: 16px; } }
    section.ricerca form #invia {
      order: 3; }

section.risultati {
  background-color: #ccec77;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px 20px 10px; }
  section.risultati div.card {
    display: none;
    flex-basis: 30%;
    max-width: 30%;
    padding: 10px; }
    @media screen and (max-width: 810px) {
      section.risultati div.card {
        min-width: 45%; } }
    @media screen and (max-width: 600px) {
      section.risultati div.card {
        min-width: 100%; } }
    section.risultati div.card p:nth-child(1) {
      border-left: 3px solid blue;
      border-right: 3px solid blue;
      border-top: 3px solid blue;
      font-size: 1.5em;
      margin: 0 auto;
      overflow-x: hidden;
      text-align: center;
      white-space: nowrap; }
    section.risultati div.card p:nth-child(2) {
      border-left: 3px solid blue;
      border-right: 3px solid blue;
      display: none;
      font-size: 1em;
      margin: 0 auto;
      max-height: 95px;
      overflow: hidden;
      padding: 10px; }
    section.risultati div.card p:nth-child(3) {
      border-bottom: 3px solid blue;
      border-left: 3px solid blue;
      border-right: 3px solid blue;
      font-size: 1em;
      margin: 0 auto;
      position: relative;
      text-align: left; }
      section.risultati div.card p:nth-child(3) a {
        text-decoration: none; }

footer {
  background-color: #ccec77;
  text-align: center; }

.espandi {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  left: 90%;
  transition: transform 600ms;
  top: 50%; }

.testoNonEspanso {
  transform: translateY(-50%) rotate(45deg); }

.testoEspanso {
  transform: rotate(-135deg); }

/*# sourceMappingURL=stile.css.map */
